[submodule "themes/minima"]
	path = themes/minima
	url = https://github.com/adisaktijrs/hexo-theme-minima.git
[submodule "themes/light"]
	path = themes/light
	url = https://github.com/hexojs/hexo-theme-light.git
[submodule ".deploy_git"]
	url = https://github.com/fkuner/fkuner.github.io.git
